doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/patternfly/dist/css/patternfly.css')
    link(rel='stylesheet', href='/bower_components/patternfly/dist/css/patternfly-additions.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
  body.cards-pf
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    block scripts
    block nav
    block content
    block footer
